*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
  font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  background: #f5f5f5;
  color: #444;
  height: 9000px;
  overflow: hidden;
}

.griddle {
  margin: 20px 0 20px 0;
}

/*for subgrids*/
.griddle .griddle{
  margin:0px;
}
.griddle .griddle table{
  border: 0;
}
.griddle .griddle tr:first-child>td{
  border-top: none;
}

.griddle-parent{
  padding: 0;
}
.griddle .griddle .grid-container{
  box-shadow: none;
  margin-bottom: 0;
}
/* Avoid highlighting things when clicking on things like next / previous
   but still allow text from table body to be selected. */

.griddle, .griddle *:not(input.field) {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.griddle .griddle-settings{
  padding: 10px 10px 0 10px;
  margin: 0 0 10px 0;
}
.griddle .griddle-settings h5{
  margin: 0 0 10px 0;
}

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.griddle .griddle-settings:before, .griddle .griddle-settings:after{
  content: " ";
  display: table;
}

.griddle .griddle-settings:after{
  clear: both;
}

.griddle .griddle-settings .column{
  width: 160px;
  float: left;
  margin-top: 0;
}

.griddle-settings .griddle-columns{
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 10px;
}

.griddle table{
  table-layout: fixed;
}

.griddle .table-header{
  margin-bottom: 0;
}

.griddle th{
  overflow: hidden;
}

.griddle .sort-ascending:after{
  content: '\25B2';
  font-size: 12px;
  margin-left: 5px;
}

.griddle .sort-descending:after{
  content: '\25BC';
  font-size: 12px;
  margin-left: 5px;
}

.griddle .parent-row td:first-child:before{
  content: '\25BA';
  font-size: 12px;
  margin-right: 5px;
}

.griddle .parent-row.expanded td:first-child:before{
  content: '\25BC';
}

.griddle .standard-row td:first-child:before{
  content: ' ';
  margin-right: 15px;
}

.griddle .child-row td{
  padding-left: 20px;
  border-bottom: 0;
}

.griddle .child-row td:first-child:before{
  content: ' ';
  margin-right: 15px;
}

.griddle .grid-body table{
  margin-bottom: 0;
}

.griddle .settings i {
  top: 3px;
}

.griddle .top-section{
  margin-bottom: 10px;
}

.griddle .grid-footer{
  padding: 10px 20px 10px 20px;
}

.griddle .grid-footer .glyphicon{
  font-size: 12px;
  margin: 0 5px 0 5px;
}

.griddle .next, .griddle .previous, .griddle .settings, .griddle th{
  cursor: pointer;
}
.griddle .right{
  text-align: right;
}

.griddle .center{
  text-align: center;
}


body{
  background-color:#CCC;
  overflow: auto;
}

#main-title {
  text-align: center;
}
#table-area {
  width: 80%;
  margin: auto;
}
header{
  display: block;
  background-color: #D35627;
  color: #FFF;
  padding: 10px 0 10px 0;
  border-bottom: 5px solid #E76C3C;
}

h1, h2, h3, h4, h5, small {
  font-family: 'Oxygen', sans-serif;
}

dd{
  color: #555;
}
header small{
  color: #efa588;
}

header .btn-group{
  float: right;
  margin-top: 15px;
}

header .btn-group a{
  padding-top: 15px;
  padding-bottom: 15px;
}

#start {
  background-color: #FFF;
  padding: 20px 0 20px 0;
  color: #777;
  border-bottom: 5px solid #BBB;
}

#example1 {
  border-bottom: 5px solid #DDD;
}
#example1 .grid-body{
  min-height: 270px;
}

#example2 {
  background-color: #FFF;
  border-bottom: 5px solid #BBB;
}

#example2 .grid-container, #start .grid-container, #example4 .grid-container{
  border: 1px solid #DFDFDF;
}

#example3{
  border-bottom: 5px solid #DDD;
}

#example4{
  background-color: #FFF;
  border-bottom: 5px solid #BBB;
}

#example4 .grid-body{
  min-height: 270px;
}

#example6{
  background-color: #FFF;
  border-bottom: 5px solid #BBB;
}

.grid-body .loading{
  /** TODO: Where is this file??? **/
  /*  background-image: url('../images/loading.gif'); Thanks 'http://preloaders.net'! */
  background-repeat: no-repeat;
  min-height: 32px;
  width: 32px;
  margin-top: 83px;
}

#properties{
  border-bottom: 5px solid #DDD;
}

#properties dl{
  margin-top: 18px;
}

#properties dt{
  float: left;
  width: 160px;
}

#properties dd{
  margin-bottom: 18px;
  margin-left: 160px;
  border-bottom: 1px solid #EDEDED;
}

#properties dd:after{
  display: table;
  content: "";
  clear: both;
}

.griddle-custom{
  background-color: #FFF;
  padding: 5px 5px 0 5px;
  border-radius: 5px;
}

#customdata .griddle.griddle-custom{
  margin-top: 0;
}

#customdata .griddle-custom .grid-footer{
  background: none;
}

.griddle thead{
  background-color: #EDEDED;
}
.griddle .grid-footer{
  background-color: #EDEDED;
  border-top: 1px solid #ddd;
}

/* duplicate to griddle center but this is mostly for the demo page*/
.center{
  text-align: center;
}

.highlight{
  background-color: #EDEDED;
  padding: 3px;
}

.griddle-settings{
  border: 1px solid #CCC;
}

.griddle-settings label{
  font-weight: 400;
}

.btn.view{
  width:100%;
}

.custom-component{
  padding:5px 10px 5px 10px;
  height:100px;
}

.custom-component h4{
  margin-top:0px;
}

.properties-name{
  width: 300px;
  font-weight: bold;
}

footer{
  padding:10px;
  background-color: #939393;
}

footer a, footer a:visited{
  color: #555;
  text-decoration: underline;
}

.custom-pager {
  line-height: 32px;
  vertical-align: middle;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-pager .pages button {
  width: 30px;
  height: 32px;
}

.custom-pager .current-page-selected {
  font-weight: bold;
}

@media(max-width: 992px){
  header .btn-group{display:none;}
  header small{display:none;}
}
.griddle .sort-ascending:after,
.griddle .sort-descending:after {
  content: '';
  display: none;
}