<!doctype html>
<html>
  <head>
    <title>Orange game</title>
    <link href='/main.css' rel="stylesheet">
  </head>
  <body>
    <div id="react-main-mount">
      <%- reactOutput %>
    </div>

	<!-- comment out main.js to see server side only rendering -->
	<script src="/main.js"></script>
  </body>
</html>
